/* Nekoppuccin Mocha theme       */
/* ~~~~~~~~~~~~~~~~~~~~~~~       */
/* NekoMimiOfficial - 5/NOV/2024 */
/* Catppuccin inspired theme     */

body{
  background-color: black;
}

:root{
  --background: #1E1E2E;
  --text: #b4befe;

  --shineBG: #4F506A;
  --shinePProbe: #4F506A88;

  --Purr: #c6c1f0;
}
