:root{
  --background: #232232;
  --sidebar: #1E1D2D;
  --lightbg: #2F2E3E;

  --blue-cp: #799DDB;
  --red-cp: #F38BA8;
  --orange-cp: #F3B993;
  --yellow-cp: #E6D1A3;
  --green-cp: #A2DCAA;
  --voilet-cp: #C6A1F0;

  --ff: monospace, sans-serif;

  --debug: rgba(255,0,0,0.3);
}

body{
  margin: 0px;
  padding: 0px;
  background-color: var(--background);
}

*{
  scroll-behavior: smooth;
}

.sidebar{
  background-color: var(--sidebar);
  height: 100%;
  width: 50px;
  position: fixed;
  overflow-y: scroll;
  top: 0px;
  left: 0px;
  padding: 10px;
}

.sb-brand{
  background-color: var(--lightbg);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.sb-brand-outliner{
  outline: 1px solid var(--sidebar);
  height: 56px;
  position: absolute;
  top: 7px;
  left: 7px;
  width: 56px;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.2s;
}

.sb-brand-outliner:hover{
  outline: 3px solid var(--voilet-cp);
  transition: 0.2s;
}

.hr{
  color: var(--lightbg);
  background-color: var(--lightbg);
  width: 70%;
  height: 4px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 10px;
}

.sb-container{
  background-color: var(--lightbg);
  height: 50px;
  width: 50px;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: #FFF;
  font-family: var(--ff);
}

.sb-container:hover{
  border-radius: 50%;
}

.sb-container-d:hover{
  background-color: var(--blue-cp);
  transition: 0.3s;
}

.sb-container-dr:hover{
  background-color: var(--red-cp);
  transition: 0.3s;
}

.sb-container-dc:hover{
  background-color: var(--green-cp);
  color: var(--background);
  transition: 0.3s;
}

.main{
  position: absolute;
  top: 0px;
  left: 70px;
  height: fit-content;
  width: calc(100% - 110px);
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: wrap;
  padding: 20px;
}

.nekomimi{
  font-family: var(--ff);
  color: var(--background);
  padding: 10px;
  border-radius: 5px;
  display: block;
  width: fit-content;
  font-style: bold;
  font-size: 25px;
  background-color: var(--blue-cp);
}

.nekomimi::after{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: block;
  content: '';
  background-color: var(--blue-cp);
  position: absolute;
  left: 150px;
  outline: 6px solid var(--background);
}

a{
  text-decoration: None;
  color: white;
}

.aboutme{
  color: var(--blue-cp);
  font-family: var(--ff);
  padding-top: 10px;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropper{
  /* animation: bobber 1s linear infinite; */
}

@keyframes bobber{
  0% {bottom: 25px;}
  50%{bottom: 20px;}
  100% {bottom: 25px;}
}

.term-flexer{
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.window{
  height: 180px;
  width: 280px;
  border-radius: 8px;
  background-color: black;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  font-family: var(--ff);
  color: var(--yellow-cp);
}

.window::after{
  height: 40px;
  width: 320px;
  position: relative;
  left: -10px;
  top: -50px;
  content: '';
  display: block;
  animation: scanlines 8s linear infinite;
  background-image: linear-gradient(to bottom , rgba(0,0,0,0) , rgba(255,255,255,0.1));
}

@keyframes scanlines{
  0% {top: -250px;}
  100% {top: 300px;}
}

.window-bar{
  position: relative;
  width: 280px;
  display: block;
  border-radius: 8px;
  height: 20px;
  margin-bottom: 10px;
  background-color: var(--sidebar);
}

.dots{
  height: 10px;
  width: 10px;
  background-color: var(--red-cp);
  display: block;
  border-radius: 50%;
  border: 5px solid var(--sidebar);
}

.dots::after{
  content: '';
  position: relative;
  left: 12px;
  bottom: 4.5px;
  height: 10px;
  width: 10px;
  background-color: var(--orange-cp);
  display: block;
  border-radius: 50%;
  border: 5px solid var(--sidebar);
}

.heading{
  font-family: var(--ff);
  color: var(--background);
  padding: 10px;
  margin-bottom: -8px;
  border-radius: 5px;
  display: block;
  width: fit-content;
  font-style: bold;
  font-size: 20px;
  background-color: var(--yellow-cp);
}


.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

.l-m{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  width: 80px;
  border-radius: 10px;
}

.l-m:hover{
  border-radius: 50px;
}

.rand{
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-content: center;
}

.r-cont{  
  max-height: 300px;
  max-width: 300px;
  margin-top: 10px;
  background: var(--lightbg);
  border-radius: 10px;
  border: 5px solid var(--blue-cp);
}

.pby{
  position: relative;
  bottom: 35px;
  right: 5.5px;
  padding: 5px;
  height: fit-content;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 6px solid var(--background);
  width: fit-content;
  font-family: monospace;
  background-color: var(--blue-cp);
  color: var(--lightbg);
}

.mono{
  color: #3F3E3E;
  font-family: monospace;
}

.lnks{
  background-color: var(--sidebar);
  border: 4px solid var(--lightbg);
  border-radius: 10px;
  color: white;
  font-family: monospace;
  padding: 10px;
  margin-bottom: 8px;
}

.h3o{
  color: var(--background);
  background-color: var(--blue-cp);
  border-radius: 8px;
  padding: 6px;
  font-family: monospace;
  width: fit-content;
}
