body{
    background-color: var(--PurrDurr);
}

@font-face{
  font-family: 'HurmitNF';
  src: url('../res/ui/HurmitNerdFontMono-Regular.ttf') format('truetype');
}

.nlbutt{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--PurrDurrX);
    color: var(--background);
    padding: 20px 40px;
    border-radius: 40px;
    font-family: 'HurmitNF';
    font-weight: 500;
    font-size: 24px;
    border-bottom: 4px solid var(--backdark);
    transition: 0.1s;

    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.nlbutt:hover{
    cursor: pointer;
}

.nlbutt:active{
    border-bottom: 0px solid var(--backdark);
    transition: 0.1s;
}

.counter{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--PurrDurrX);
    color: var(--background);
    padding: 20px 30px;
    border-radius: 40px;
    font-family: 'HurmitNF';
    font-weight: 600;
    font-size: 48px;

    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.foot{
    position: absolute;
    bottom: 5px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    font-family: 'HurmitNF';
}

.tv{
    animation: tvop 0.6s linear forwards;
}

@keyframes tvop
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}