body{
    background-color: var(--PurrDurr);
}

.bodys{
    background-image: url("https://nekomimi.tilde.team/res/ui/splash.png");
    background-repeat: repeat;
    background-size: 96px 96px;
    background-color: var(--PurrDurrX);

    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

@font-face{
  font-family: 'HurmitNF';
  src: url('../res/ui/HurmitNerdFontMono-Regular.ttf') format('truetype');
}

.nlbutt{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background-color: var(--PurrDurrX); */
    color: var(--background);
    padding: 20px 40px;
    border-radius: 40px;
    font-family: 'HurmitNF';
    font-weight: 500;
    font-size: 24px;
    border-bottom: 4px solid var(--Purr);
    transition: 0.1s;

    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;

    backdrop-filter: blur(5px);

    box-shadow: inset 0px 6px 10px -2px var(--Purr),
                inset 0px -3px 10px -6px var(--Purr);
}

.nlbutt:hover{
    cursor: pointer;
}

.nlbutt:active{
    border-bottom: 0px solid var(--PurrDurrX);
    transition: 0.1s;
}

.counter{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background-color: var(--PurrDurrX); */
    color: var(--background);
    padding: 40px 50px;
    border-radius: 80px;
    font-family: 'HurmitNF';
    font-weight: 600;
    font-size: 128px;

    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;

    backdrop-filter: blur(5px);

    box-shadow: inset 0px 6px 10px -2px var(--Purr),
                inset 0px -3px 10px -6px var(--Purr);
}

.foot{
    position: absolute;
    bottom: 5px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    font-family: 'HurmitNF';
}

.tv{
    animation: tvop 0.6s linear forwards;
}

@keyframes tvop
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}