:root {
  --Scale: 1;
}

body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#greeter{
  background-color: var(--Purr);
  display: block;
  height: 100vh;
  width: 100vw;
}

.track{
  position: absolute;
  top: 6%;
  left: -14%;
  rotate: -35deg;
  transform: scale(var(--Scale));
}

.notification{
  background-color: var(--background);
  color: var(--Purr);
  padding: 15px;
  position: absolute;
  top: 100px;
  right: 10px;
  border-radius: 8px;
  scale: 0;
  animation: bobberKurwa 200ms linear forwards;
}

@keyframes bobberKurwa {
  0% {scale: 0;}
  70% {scale: 1;}
  80% {scale: 1.1;}
  100% {scale: 1;}
}